:root {
    --main-color: #625AFF;
    --secondary-color: #4ECC34;
    --tertiary-color: #342DB2;
}

body {
    color: #202124;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 40%;
    }
}

@media screen and (max-width: 575.98px) {
    .container {
        max-width: 80%;
    }
}

/* Nav */
.nav {
    padding: 24px 0;
}

.nav-wrap {
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
}

.nav__right {
    margin-bottom: 0;
    margin-top: 0;
}

.nav__link {
    color: #414141;
    text-decoration: none;
}

.nav__link:not(:last-child) {
    margin-right: 12px;
}

.nav__icon {
    height: 16px;
}

/* Footer */
.footer {
    border-top: 1px solid #c0c0c0;
    padding: 2em 0;
    margin-top: 2rem;
}

/* Typography */
.lead {
    font-size: 20px;
}

.section__title {
    color: #414141;
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 0 0;
}

.section__title--smaller {
    font-size: 2rem;
}

/* Layout */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-vertical-center {
    align-items: center;
}

.flex-child {
    flex-grow: 1;
    width: 33%;
}

/* Others */
.features {
    list-style: none;
    padding-left: 0;
}

.features__item {
    border-radius: 4px;
    cursor: pointer;
    flex: 0 1 100%;
    border: 1px solid #dfdfdf;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.features__item:hover {
    background: #ececec;
}

.features__content {
    padding: 1em;
}

/* Reset list styling */
.ul-reset {
    list-style-type: none;
    padding: 0;
}

/* Section */
.main-section {
    background: #f2f2f2;
    padding-bottom: 24px;
    margin-top: 0 !important;
}

.main-section__action {
    padding: 2em 0;
}

.button {
    border-radius: 4px;
    border: 1px solid #999;
    border: transparent;
    color: #ffffff;
    font-size: 100%;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.button--primary {
    background-color: var(--main-color);
}

.button--secodary {
    background: var(--secondary-color);
}

.button--outline-primary {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.button--outline-primary:hover {
    background-color: var(--main-color);
    color: #ffffff;
}

.m-l-8 {
    margin-left: 8px;
}

.m-r-8 {
    margin-right: 8px;
}

.card {
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 16px;
    margin: 8px;
}

.card__title {
    margin: 0;
}

.page-action {
    margin-top: 24px;
}

.text-center {
    text-align: center;
}